[submodule "spack"]
  path = spack
  url = https://github.com/rickgrubin-noaa/spack
  #branch = spack-stack-dev
  branch = JCSDA/1297
[submodule "doc/CMakeModules"]
  path = doc/CMakeModules
  url = https://github.com/noaa-emc/cmakemodules
  branch = v1.3.0
